qc-input {
    display: block;
    position: relative;

    label {
        display: block;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 1rem;
    }

    .input {
        padding: .5rem;
        margin: .313rem 0;
        box-sizing: border-box;
        border: 1px solid #6B778A;
        height: 2.5rem;

        &:focus {
            outline: 2px solid #4a98d9;
            border: 2px solid #5b6476;
        }

        &.input-sm {
            width: 100%;
            max-width: 2.5rem; /* Champs petit (jusqu’à 5 caractères) */
        }

        &.input-md {
            width: 100%;
            max-width: 9.75rem; /* Champs moyen (jusqu’à 16 caractères) */
        }

        &.input-lg {
            width: 100%;
            max-width: 15.563rem; /* Champs large (jusqu’à 26 caractères) */
        }

        &.input-xl {
            width: 100%;
            max-width: 33rem; /* Champs extra-large (jusqu’à 58 caractères) */
        }

        &.input-multi {
            width: 100%;
            height: 100px; /* Champs multiligne */
            resize: vertical;
            margin-bottom: 0;
        }

        &.input-error {
            border-color: #cb381f;
        }
    }

    .input-aide {
        font-size: 0.875rem;
        color: #223654;
    }

    .input-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .input-info {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: -0.875rem;
    }

    .error-message {
        color: #cb381f;
    }

    .champ-requis {
        color: #cb381f;
        font-size: 1rem;
        font-weight: bold;
        margin-left: .5rem;
    }

    [disabled] {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        color: #6b778a;
    }

    :has([required]) {
        label:after {
            content: '*';
            font-size: 1rem;
            font-weight: bold;
            margin-left: .5rem;
        }
    }

    :has([required]:user-valid) {
        label:after {
            content: '*';
            color: black;
        }
    }

    :has([required]:user-invalid),
    .has-error {
        label:after {
            content: '*';
            color: #cb381f;
        }
    }


}
