qc-accordeon {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #223654;

  &:not(:first-of-type) .accordion-toggle {
    margin-top: 1rem;
  }

  .accordion-toggle + * {
    display: none;
    min-height: 0;
    overflow: hidden;
    border: 1px solid #c5cad2;
    border-top: none;
    padding: 1.5rem 1rem;
    animation: vanish 0.5s ease forwards;
  }

  .accordion-toggle[aria-expanded="true"] + * {
    display: block;
    max-height: 1000px;
    animation: appear 0.5s ease forwards;
  }

  .accordion-toggle {
    display: block;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid #f1f1f2;
    background-color: #f1f1f2;
    text-align: left;
    position: relative;
    cursor: pointer;

    &:hover,
    &[aria-expanded="true"] {
      border: 1px solid #c5cad2;
    }

    .icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%); /* Centrer verticalement */
      transition: transform 0.3s ease; /* Animation de rotation */
    }

    &[aria-expanded="true"] .icon {
      transform: translateY(-50%) rotate(180deg); /* Rotation lorsque le contenu est ouvert */
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    min-height: 0;
    
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
    max-height: 1000px;
  }
  to {
    opacity: 0;
    min-height: 0;
   
  }
}
