  
  qc-bouton {
    button, a {
      font-family: var(--font-family, 'Open Sans', 'Inter', sans-serif);
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      box-sizing: border-box;
      min-width: 112px;
      padding: 14px 22px;
      transition: all 0.24s ease-in-out;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 0;
      cursor: pointer;
    }

    .block {
      display: block;
    }

  
    .compact {
      font-size: 14px;
      line-height: 20px;
      min-width: 80px;
      padding: 7px 15px;
      border: 1px solid transparent;
    }
  
    .principal {
      color: #fff;
      border-color: #095797;
      background-color: #095797;
      box-shadow: 0 1px 4px rgba(34, 54, 84, 0.24);
  
      &:hover {
        border-color: #1472bf;
        background-color: #1472bf;
      }
  
      &:focus {
        border-color: #223654;
        background-color: #1472bf;
        box-shadow: 0 2px 8px rgba(34, 54, 84, 0.24), 0 0 0 2px #4a98d9;
      }
  
      &:active {
        border-color: #3783c9;
        background-color: #3783c9;
      }
    }
  
    .secondaire {
      color: #095797;
      background-color: #fff;
      border-color: #095797;
  
      &:hover {
        background-color: rgba(9, 87, 151, 0.16);
      }
  
      &:focus {
        border-color: #223654;
        background-color: rgba(9, 87, 151, 0.16);
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        background-color: rgba(9, 87, 151, 0.08);
      }
    }
  
    .tertiaire {
      color: #095797;
      background: white;
  
      &:hover {
        text-decoration: underline;
        background-color: rgb(197, 202, 210);
      }
  
      &:focus {
        border-color: #223654;
        background-color: rgb(197, 202, 210);
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        background-color: rgb(197, 202, 210);
      }
    }
  
    .avertissement {
      color: #fff;
      border-color: #cb381f;
      background-color: #cb381f;
  
      &:hover {
        border-color: #b52e16;
        background-color: #b52e16;
      }
  
      &:focus {
        border-color: #223654;
        background-color: #b52e16;
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        border-color: #eb705a;
        background-color: #eb705a;
      }
    }
  
    .icon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
  
      &.left {
        margin-right: 8px;
      }
  
      &.right {
        margin-left: 8px;
      }
    }
  }