qc-alerte {
    display: block;
    font-family: var(--font-family, 'Open Sans', 'Inter', sans-serif);
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue-dark);

    a {
      color: var(--blue-dark)
    }
  
    &[type="avertissement"] {
      background-color: var(--yellow-light);
    }
  
    &[type="information"] {
      background-color: var(--blue-light);
    }

    .container {
      position: relative;
      display: flex;
      gap: 1.5rem;
      padding-block: 1.5rem;
      padding-right: 4rem;

      @media (max-width: 768px) {
        p,li {font-size: .875rem;}
      }

    }
  
    .icon {
      width: 1.5rem;
    }
  
    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      background: transparent;
      font-size: 1.5rem;
      padding: 0;
      color: inherit;

      @media (min-width: 768px) {
        right: .5rem;
      }
    }
  
    :last-child {
      margin-bottom: 0;
    }

  }