:root {
  /* Couleurs d'arrière-plan */
  --background-color: rgb(255, 255, 255);

  /* Couleurs du texte */
  --text-color: rgb(34, 54, 84);

  /* Palette principale */
  --blue-light: rgb(218, 230, 240);
  --blue-lighter: rgb(74, 152, 217);
  --blue: rgb(20, 114, 191);
  --blue-piv: rgb(9, 87, 151);
  --blue-medium: rgb(25, 64, 108);
  --blue-dark: rgb(34, 54, 84);

  /* Couleur d'accent */
  --accent-color: rgb(229, 130, 113);

  /* Niveaux de gris */
  --gray-light: rgb(241, 241, 242);
  --gray-lighter: rgb(197, 202, 210);
  --gray: rgb(136, 147, 162);
  --gray-medium: rgb(107, 119, 138);
  --gray-dark: rgb(78, 86, 98);

  /* Palettes fonctionnelles - Rouges */
  --red-light: rgb(255, 219, 214);
  --red: rgb(229, 130, 113);
  --red-dark: rgb(203, 56, 31);
  --red-darker: rgb(105, 37, 25);

  /* Palettes fonctionnelles - Verts */
  --green-light: rgb(215, 240, 187);
  --green: rgb(79, 129, 61);
  --green-dark: rgb(44, 64, 36);

  /* Palettes fonctionnelles - Jaunes */
  --yellow-light: rgb(248, 230, 154);
  --yellow: rgb(224, 173, 3);
  --yellow-dark: rgb(173, 120, 28);

  /* Palettes fonctionnelles - Violet */
  --purple: rgb(107, 79, 161);

  /* Font size */
  --font-size: 1rem;

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    :root {
      --font-size: 0.875rem; /* 14px in rem */
    }
  }


}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family, 'roboto', 'Open Sans', 'Inter', sans-serif);
  font-size: 16px;
}

.container, 
.container-fluid, 
.container-xl, 
.container-lg, 
.container-md, 
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .qc-container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

.bg-bleu-piv {
  background-color: var(--blue-piv);
  color: white;
  width: 100%;
}

body p,body ol,body ul {
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 600;
  font-style: normal;
  font-family: Roboto,sans-serif;
  color: #223654;
}

h1,.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.7rem;
  margin-top: 1.3rem;
}

h2,.h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0.7rem;
  margin-top: 2.5rem;
  line-height: 2.3rem;
}

h3,.h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2.7rem;
}

h3.results-topic {
  margin-top: 1rem;
}

h3.results-topic a {
  font-weight: normal;
  font-size: 1.5rem;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}

h4,.h4 {
  font-size: 1.3125rem;
  font-weight: bold;
  margin-top: 1rem;
}

h5,.h5 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1rem;
}

h6,.h6 {
  font-size: 1rem;
  font-weight: bold;
}

.font-weight-bold-600 {
  font-weight: 600 !important;
}

.font-weight-bold-500 {
  font-weight: 500 !important;
}

.themeTitre {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.themeTitre:after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  padding-top: 0.5rem;
  border-bottom: 5px solid #f09686;
}

@media (min-width: 768px) {
  .themeTitre {
      font-size:3rem;
      line-height: 3.5rem;
  }
}


qc-header {

  min-height: 72px;
  font-family: Roboto, 'sans serif';

  :has(qc-recherche){
    padding-bottom: 1.5rem;
  }

  .container {  
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .piv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 63px;

    .qc-logo {
      max-width: 20rem;
      max-height: 7.2rem;
  
      svg {
        width: 200px;
        height: 72px;
      }
    }

    p {
      margin: 0;
      
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    gap: 1.2rem;

    button {
      padding: 0;
      border: 0;
      background: none;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li {
        line-height: 1.25;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
      }

      &.langue {
        a {
          font-size: .8rem;
        }
      }
    }
  }

  @media (max-width: 780px) {

    .container {
      align-items: baseline;
    }

    .piv {
      flex-direction: column;
      gap: 0;
      align-items: baseline;
      padding-bottom: 1rem;
    }
  }
}

qc-recherche {
  .container {
    display: flex;
    flex-direction: row;

    .input-container {
      position: relative;
      flex: 1;

      input {
        font-size: var(--qc-font-size-100);
        line-height: var(--qc-line-height-100);
        padding: 0.6rem 1.2rem 0.6rem 1.2rem;
        margin: 1.5rem 0 1rem 0;
        color: #495057;
        background-color: var(--qc-color-white);
        background-clip: padding-box;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: var(--qc-color-white);
        width: 85%;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        vertical-align: middle;
        height: 3.9rem;
      }
    }

    .clear-btn {
      background-color: white;
      border: none;
      padding: 0;
      font-size: 1.5rem;
      position: absolute;
      right: 3rem;
      top: .09rem;
      z-index: 7;
      color: black;
    }

      button.btn-search {
        height: 100%;
        width: 39px;
        height: 42px;
        background-color: var(--blue-piv);
        fill: white;
        border: none;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }

      }
  }
}

qc-recherche[variant="dark"] {
  .container {

    .form-control {
      border-right: 1px solid transparent
    }
    button.btn-search {
      background-color: white;
      fill: black;
    }
  }

}


qc-alerte {
    display: block;
    font-family: var(--font-family, 'Open Sans', 'Inter', sans-serif);
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  
    &[type="avertissement"] {
      background-color: var(--yellow-light);
      color: var(--yellow-dark);
    }
  
    &[type="information"] {
      background-color: var(--blue-light);
      color: var(--blue-dark);
    }

    .container {
      position: relative;
      padding: 1rem 56px;
    }
  
    .lnr.icone-alerte {
      position: absolute;
      left: 1rem;
      top: 1rem;
      font-size: 1.5rem;
    }
  
    .close-btn {
      position: absolute;
      right: 1rem;
      border: none;
      background: transparent;
      font-size: 1.5rem;
      padding: 0;
      top: 0.65rem;
      color: inherit;
    }
  
    p:last-of-type, li:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      qc-alerte {
        font-size: 0.875rem; /* 14px en REM pour les écrans mobiles */
      }
    }
  }


  
  
  qc-bouton {
    button, a {
      font-family: var(--font-family, 'Open Sans', 'Inter', sans-serif);
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      box-sizing: border-box;
      min-width: 112px;
      padding: 14px 22px;
      transition: all 0.24s ease-in-out;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 0;
      cursor: pointer;
    }
  
    .inline-block {
      display: inline-block;
    }
  
    .block {
      display: block;
    }
  
    .compact {
      font-size: 14px;
      line-height: 20px;
      min-width: 80px;
      padding: 7px 15px;
      border: 1px solid transparent;
    }
  
    .principal {
      color: #fff;
      border-color: #095797;
      background-color: #095797;
      box-shadow: 0 1px 4px rgba(34, 54, 84, 0.24);
  
      &:hover {
        border-color: #1472bf;
        background-color: #1472bf;
      }
  
      &:focus {
        border-color: #223654;
        background-color: #1472bf;
        box-shadow: 0 2px 8px rgba(34, 54, 84, 0.24), 0 0 0 2px #4a98d9;
      }
  
      &:active {
        border-color: #3783c9;
        background-color: #3783c9;
      }
    }
  
    .secondaire {
      color: #095797;
      background-color: #fff;
      border-color: #095797;
  
      &:hover {
        background-color: rgba(9, 87, 151, 0.16);
      }
  
      &:focus {
        border-color: #223654;
        background-color: rgba(9, 87, 151, 0.16);
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        background-color: rgba(9, 87, 151, 0.08);
      }
    }
  
    .tertiaire {
      color: #095797;
      background: white;
  
      &:hover {
        text-decoration: underline;
        background-color: rgb(197, 202, 210);
      }
  
      &:focus {
        border-color: #223654;
        background-color: rgb(197, 202, 210);
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        background-color: rgb(197, 202, 210);
      }
    }
  
    .avertissement {
      color: #fff;
      border-color: #cb381f;
      background-color: #cb381f;
  
      &:hover {
        border-color: #b52e16;
        background-color: #b52e16;
      }
  
      &:focus {
        border-color: #223654;
        background-color: #b52e16;
        box-shadow: 0 0 0 2px #4a98d9;
      }
  
      &:active {
        border-color: #eb705a;
        background-color: #eb705a;
      }
    }
  
    .icon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
  
      &.left {
        margin-right: 8px;
      }
  
      &.right {
        margin-left: 8px;
      }
    }
  }
  

  /**
  class utilitaires
  */
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    font-weight: bold;
  
    &.left {
      margin-right: 8px;
    }
  
    &.right {
      margin-left: 8px;
    }
  }

  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  